.todo__tasks-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
  margin-bottom: 20px;

  &:hover {
    .todo__tasks-title-icon {
      opacity: 0.3;
      &:hover {
        opacity: 0.8;
      }
    }
  }


}
.todo__tasks-title-text {
  font-size: 39px;
  font-family: 'Monserrat', sans-serif;
  color: rgb(81, 200, 236);
  margin-right: 10px;
  &--green {
    color: #42B883;
  }
  &--red {
    color: #FF6464;
  }
  &--blue {
    color: #64C4ED;
  }
  &--grey {
    color: #FFBBCC;
  }
  &--lime {
    color: #B6E6BD;
  }
  &--purple {
    color: #C355F5;
  }
  &--black {
    color: #4e4e53;
  }
  &--pink {
    color: #C9D1D3;
  }
}
.todo__tasks-title-icon {
  opacity: 0;
  cursor: pointer;

}
.todo__tasks-text {
  flex: 1;
  font-size: 16px;
  &--done {
    text-decoration: line-through;
  }

}

.todo__tasks-icon {
  display: inline-block;
  min-width: 30px;
  min-height: 30px;
  border: 2px solid #E8E8E8;
  border-radius: 50%;
}
.todo__tasks-check {
  display: none;


}
.todo__tasks-check:checked ~ .todo__tasks-icon{
  background: lightgreen;

}


.todo__tasks-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  &:hover {
    background-color: #E8E8E8;
  }
  img {
    width: 18px;
    height: 18px;
  }
}

.todo__tasks-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  overflow: hidden;

  &:last-child {
    margin-bottom: 20px;
  }
  &:hover {
    .controls {
      opacity: 0.4;
    }
  }
}


.todo__tasks-elem {
  margin-right: 10px;
  cursor: pointer;
}
.no-tasks {
  display: block;
  font-size: 25px;
  color: #C9D1D3;
  font-weight: 700;
  margin-bottom: 20px;
}

.controls {
  opacity: 0;
  transition: all 0.2s ease;
  img {
    border-radius: 5px;
    padding: 4px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    
    &:hover {
      background-color: #c3c0c0;
    }
  }
}
.controls__edit {
  margin-right: 10px;
}